body{
    font-family:Arial, Helvetica, sans-serif;
    width:1024px;
    background-color:beige;
    color:crimson;
    margin-left: auto;
    
}
img{
   width:auto;
   width: auto;
   border-radius: 20cm;
   
}
h3{
   text-shadow:crimson ;
   color:brown;
}

.center{
   display:block;
   margin-left: auto;
   margin-right: auto;
   width:50% ;
}
a{
   display:inline-block;
   text-decoration:black;
   background-color:beige;
   padding: 10px;
   margin: 10px;
   border:solid black;
   border-radius:10cm ;
}