body{
     font-family:Arial, Helvetica, sans-serif;
     width:1024px;
     background-color: black;
     color:whitesmoke;
     margin-left: auto;
     
}
img{
    width:auto;
    width: auto;
    border-radius: 20cm;
    
}
h3{
    text-shadow:crimson ;
    color:chocolate;
}
}
.center{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width:50% ;
}
a{
    display:inline-block;
    text-decoration:black;
    background-color:beige;
    padding: 10px;
    margin: 10px;
    border:solid black;
    border-radius:10cm ;
}
*{
    margin:0;
    padding:0;
}
div{
    background-color:rgb(6, 105, 172);
}
.box1{
    display: flex;
    height: 50px;
    width: 50%;
    justify-content: space-evenly;
    align-content: center;
  
}
.box2 {
    background-color:rgb(6, 105, 172);
    display:flex;
    flex-direction:row;
    height: 50px;
    width:30%;
    justify-content: center;
    align-items:center;
     
    border-radius: 10px;
    transition: 0.5s;
}
.RightMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
    width:50%;
}

.box2:hover{
    border:none;
    box-shadow:0px 0px 10px rgba(0,0,0,308);
    transition: 0.5s;

}
