*{
    margin:0;
    padding:0;
}
/*body{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
img{height:100%;}*/
div{
    background-color: cadetblue;
    height:300px;
}
/*#box{
    background-color:beige ;
    height:300px;
}
.box{
    background-color:beige;
    height:70px;
    width:80%;
    margin:0 auto;
}*/
.box1{
    background-color: cadetblue;
   /* height: 100px;
    width: 100%;*/
    display: flex;
    justify-content: space-evenly;
    align-content: center;
   /* flex-direction: column;*/
}
.logo{
    height:300px;
    width:300px;
}
.logo img{
    height:50%;
    align-content: center;
}
.box2 {
    background-color:rgba(235, 167, 104, 0.377);
    height: 50px;
    width:30%;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    font-weight: bold;
    border: 2px solid black ;
    border-radius: 10px;
    transition: 0.5s;
}
.RightMenu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:50%;
}

.box2:hover{
    border:none;
    box-shadow:0px 0px 10px rgba(0,0,0,308);
    transition: 0.5s;

}
.box2:last-child{
    background-color: rgba(216, 15, 15, 0.411);
    color: cornsilk;

}

.row:after{
    content:"Build your own website using WEB DEVELOPER"
}

/*.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}*/
